:root{
  --backgorund: black;
  --red: #ee4037;
  --purple: #262161;
  --yellow: #fbaf41;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  height: 100vh;
  position: relative;
  font-family: 'Inter', sans-serif;
}



.form--wrapper{
  font-family: 'Inter', sans-serif;
  background-color: cornsilk;
  position: absolute; /*Can also be `fixed`*/
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
  max-width: 15%;
  max-height: fit-content;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.form--header{
  padding: 0 8px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form--elements{
  padding: 5px;
  margin-top: 4px;
  border-radius: 4px;
}


/* Home */

.home--wrapper{
  /* padding-left: 10px; */
  border: 2px solid blue;
}

.home--header{
  padding: 0 10px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  background-color: cornsilk;
}

.home--header--buttons{
  padding: 5px;
  border-radius: 5px;
}

#signup--button{
  margin-left: auto;
  margin-right: 5px;
}

.home--header h1{
  margin-left: auto;
}



.home--wrapper .home--footer{
  border: 2px solid darkgreen;
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: space-between;
  bottom: 0px;
  margin-bottom: 5px;
  padding: 10px;
}